= link_to '&larr; список заявок'.html_safe, payment_card_orders_path(workflow_state: payment_card_order.workflow_state)
hr
.row
  .col-md-4
    h2.m-t-0 Заявка: #{payment_card_order.id}
= render 'payment_card_order_actions', payment_card_order: payment_card_order
= render 'payment_card_order_brief', payment_card_order: payment_card_order
