h2 Тип документа: #{document_kind.title}
= render partial: 'aml/document_kind_field_definitions/table', locals: { field_definitions: field_definitions.alive } if field_definitions.alive.any?
= render partial: 'aml/document_kind_field_definitions/table', locals: { field_definitions: field_definitions.archive } if field_definitions.archive.any?
h4 Добавить поле документа
= render partial: 'aml/document_kind_field_definitions/form', locals: { document_kind_field_definition: AML::DocumentKindFieldDefinition.new, document_kind: document_kind }
