= link_to '&larr; Назад в список причин'.html_safe, reject_reasons_path(kind: reject_reason.kind)
hr
h3 Редактируем причину отмены ##{reject_reason.id}
hr
= render 'form', reject_reason: reject_reason
