h3 Редактировать поле документа: #{document_kind_field_definition.document_kind.title}
= render 'form', document_kind_field_definition: document_kind_field_definition, document_kind: document_kind_field_definition.document_kind
